// UI\src\app\components\success_page_component\success-page\success-page.component.scss

.success-container {
  text-align: center;
  padding: 50px;
}

.success-container h1 {
  margin-bottom: 30px;
}

.success-container button {
  padding: 10px 20px;
}
