<!-- UI\src\app\components\main_page_component\main-page\main-page.component.html -->

<div class="main-page-container">
  <!-- Нова обвивка за управление на подредбата -->
  <div class="container">
    <div class="card" *ngFor="let product of paginatedProducts" (click)="goToDetails(product.id)">
      <div class="imgBx">
        <img [src]="product.picture" alt="{{ product.manufacturer }} {{ product.model }}" />
      </div>

      <div class="contentBx">
        <h2>{{ product.manufacturer }} {{ product.model }}</h2>

        <div class="size">
          <h3>Size :</h3>
          <span>{{ product.size }}</span>
        </div>

        <div class="color">
          <h3>Color :</h3>
          <span>{{ product.color }}</span>
        </div>

        <!-- Добавен клас 'buy-now' за стилизиране -->
        <a class="buy-now" (click)="requestPurchase(product); $event.stopPropagation()">Buy Now</a>
      </div>
    </div>
  </div>

  <mat-paginator [length]="totalProducts" [pageSize]="pageSize" [pageSizeOptions]="[25]" (page)="onPageChange($event)" showFirstLastButtons class="paginator"> </mat-paginator>
</div>
