// UI\src\custom-theme.scss
//Global green theme

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define a custom palette using the desired primary color #05C65D
$custom-primary: mat.define-palette(mat.$green-palette, 500, 300, 700);

// Define the accent palette as before
$auth-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$auth-warn: mat.define-palette(mat.$red-palette);

// Create the theme object with the new primary palette
$auth-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $auth-accent,
      warn: $auth-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($auth-theme);
