/* UI\src\styles.scss */

@import "custom-theme.scss"; // Importing the custom theme

/* Global styles */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
