// UI\src\app\components\auth_component\change-password\change-password.component.scss
.change-password {
  max-width: 500px;
  margin: 60px auto;
  perspective: 600px;
  text-align: left;
  border: 3px solid #009d34;
  padding: 20px;
  border-radius: 0.3em;
}

.content {
  color: #666;

  h2 {
    color: #009d34;
  }

  .field-wrapper {
    margin-top: 30px;
    position: relative;

    label {
      position: absolute;
      pointer-events: none;
      font-size: 0.85em;
      top: 20%;
      left: 0;
      transition: all ease-in 0.25s;
    }

    input[type="password"] {
      width: 100%;
      border: none;
      border-bottom: 2px solid #009d34;
      background: transparent;
      line-height: 2em;
      -webkit-appearance: none;
      appearance: none;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        opacity: 0;
      }

      &:focus,
      &:not(:placeholder-shown) {
        + label {
          top: -35%;
          color: #42509e;
        }
      }
    }

    input[type="submit"] {
      width: 100%;
      background: #009d34;
      border: none;
      color: white;
      cursor: pointer;
      padding: 1em;
      border-radius: 0.3em;
    }
  }

  p.error {
    color: red;
  }
}
