<!-- UI\src\app\components\auth_component\change-password\change-password.component.html -->
<div class="change-password">
  <div class="content">
    <h2>Change your password</h2>
    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmitHandler(resetPasswordForm)">
      <div class="field-wrapper">
        <input type="password" name="password" placeholder="New Password" autocomplete="new-password" required [(ngModel)]="prismDetails.changedPassword" />
        <label>New Password</label>
      </div>
      <div class="field-wrapper">
        <input type="password" name="reEnteredPassword" placeholder="Please re enter the password" autocomplete="new-password" required [(ngModel)]="prismDetails.changedPassword2" [appMatchPasswords]="prismDetails.changedPassword" #reEnteredPasswordInput="ngModel" ngModel />
        <label>Please re enter the new password</label>
      </div>

      <ng-container *ngIf="reEnteredPasswordInput.touched">
        <p class="error" *ngIf="reEnteredPasswordInput.errors?.['matchPasswords']">Passwords must match</p>
      </ng-container>

      <div class="field-wrapper">
        <input type="submit" value="Change Password" />
      </div>
    </form>
  </div>
</div>
