<ng-container *ngIf="isEverythingInitialized" #navButtons>
    <ul class="nav">
      <li (click)="showLogin()">Login</li>
      <li *ngIf="prismDetails?.forgotPassword" (click)="showForgotPassword()">Forgot password</li>
      <li (click)="showCreateEmployeeAccount()">Create employee account</li>
      <li *ngIf="user?.isAdmin" (click)="showSignup()">Create account</li>
    </ul>
  </ng-container>
<app-login
(userCheck)="handleUserCheck($event)"
(userCredentials)="handleUserLoging($event)"></app-login>