// Dimensions
$prism-height: 400px;
$prism-length: 380px;
$prism-depth: $prism-length;
$spacing: 20px;
$br: 3px;

// Colors
$text-light: #fff;
$text-dark: #666;
$blue: #03a9f4;
$smoke: #f9f9fa;
$coral: #ff5751;
$navy-blue: #42509e;
$green: #07ad90;

.field-wrapper {
    margin-top: $spacing*1.5;
    position: relative;

    label {
        position: absolute;
        pointer-events: none;
        font-size: 0.85em;
        top: 40%;
        left: 0;
        transform: translateY(-50%);
        transition: all ease-in 0.25s;
        color: lighten($text-dark, 20%);
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"],
    textarea {
        -webkit-appearance: none;
        appearance: none;

        &:focus {
            outline: none;
        }
    }

    input[type="text"],
    input[type="password"],
    textarea {
        width: 100%;
        border: none;
        background: transparent;
        line-height: 2em;
        border-bottom: 1px solid $green;
        color: $text-dark;

        &::-webkit-input-placeholder {
            opacity: 0;
        }

        &::-moz-placeholder {
            opacity: 0;
        }

        &:-ms-input-placeholder {
            opacity: 0;
        }

        &:-moz-placeholder {
            opacity: 0;
        }

        &:focus,
        &:not(:placeholder-shown) {
            +label {
                top: -35%;
                color: $navy-blue;
            }
        }
    }

    input[type="submit"] {
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        width: 100%;
        background: $green;
        line-height: 1em;
        color: $text-light;
        border: 2px solid $green;
        border-radius: $br;
        padding: $spacing / 2;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            transform: scale(0.96);
        }
    }

    textarea {
        resize: none;
        line-height: 1em;

        &:focus,
        &:not(:placeholder-shown) {
            +label {
                top: -25%;
            }
        }
    }
}

p.error {
    color: red;
}