<!-- UI\src\app\components\header_component\header\header.component.html -->

<mat-toolbar color="primary">
  <div class="header-content">
    <a [routerLink]="['/pawn-shop/main-page']">
      <img src="../../../../favicon.ico" alt="Icon" class="header-icon" />
    </a>
    <div class="search-bar">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label style="color: #ffffff">Search</mat-label>
        <input matInput placeholder="Search products" [(ngModel)]="searchTerm" (input)="onSearch()" />
      </mat-form-field>
    </div>

    <div class="category-dropdown">
      <mat-form-field appearance="outline" class="category-field">
        <mat-label style="color: #ffffff">Category</mat-label
        ><!-- this is dark still -->
        <mat-select (selectionChange)="onCategoryChange($event.value)">
          <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option
          ><!-- this is dark still -->
        </mat-select>
      </mat-form-field>
    </div>

    <span class="spacer"></span>

    <div class="toolbar-options">
      <button mat-button [routerLink]="['/about-us']">About Us</button>
      <button mat-button>Products</button>
      <button mat-button [routerLink]="['/my-account']">My Account</button>
      <button mat-button [routerLink]="['/contacts']">Contacts</button>
      <button mat-icon-button [routerLink]="['/cart']">
        <mat-icon [style.color]="isCartPage ? 'purple' : 'white'">shopping_cart</mat-icon>
        <span *ngIf="cartItemCount > 0" class="cart-count">{{ cartItemCount }}</span>
      </button>
    </div>
  </div>
</mat-toolbar>
