// UI\src\app\components\header_component\header\header.component.scss

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
}

.search-bar {
  flex: 1;

  .search-field {
    width: 100%;
    padding-left: 50px;

    ::ng-deep .mat-form-field-outline {
      stroke: #009d34 !important;
    }

    ::ng-deep .mat-form-field-label {
      color: #009d34 !important;
    }

    ::ng-deep input.mat-input-element {
      color: #009d34 !important;
    }

    ::ng-deep input.mat-input-element::placeholder {
      color: #009d34 !important;
      opacity: 1;
    }
  }
}

.category-dropdown {
  flex: 1;
  display: flex;
  justify-content: center;

  .category-field {
    width: 50%;

    ::ng-deep .mat-form-field-outline {
      stroke: #009d34 !important;
    }

    ::ng-deep .mat-form-field-label {
      color: #009d34 !important;
    }

    ::ng-deep .mat-select-value {
      color: #009d34 !important;
    }

    ::ng-deep .mat-select-arrow {
      color: #009d34 !important;
    }

    ::ng-deep .mat-select-panel .mat-option {
      color: #ffffff !important;
      background-color: #009d34 !important; 
    }

    ::ng-deep .mat-option.mat-selected .mat-option-pseudo-checkbox {
      background-color: #000000 !important;
    }

    ::ng-deep .mat-option.mat-selected {
      background-color: #009d34 !important;
      color: #ffffff !important;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-options {
  button {
    margin-left: 10px;
    color: #ffffff !important;
  }
}

.cart-count {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}

.header-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.header-icon {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  cursor: pointer;
}
