<!-- UI\src\app\components\header_component\header\header.component.html -->
<mat-toolbar color="primary">
  <div class="header-content">
    <a (click)="onResetAndNavigateHome()" style="cursor: pointer">
      <img src="../../../../favicon.ico" alt="Icon" class="header-icon" />
    </a>

    <div class="search-bar">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search products" [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event); onSearch()" />
      </mat-form-field>
    </div>

    <div class="category-dropdown">
      <mat-form-field appearance="outline" class="category-field">
        <mat-label>Category</mat-label>
        <mat-select [value]="currentCategory()" (selectionChange)="onCategoryChange($event.value)" #categorySelect [panelClass]="'custom-select-panel'" disableOptionCentering>
          <mat-option value="">All</mat-option>
          @for (category of categories(); track category) {
          <mat-option [value]="category">{{ category }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <span class="spacer"></span>

    <div class="toolbar-options">
      <button mat-button [routerLink]="['/about-us']">About Us</button>

      <button mat-button [matMenuTriggerFor]="productsMenu">Products</button>
      <mat-menu #productsMenu="matMenu">
        <button mat-menu-item [routerLink]="['/add-product']">Add Product</button>
        <button mat-menu-item [routerLink]="['/my-products']">My Products</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="accountMenu">My Account</button>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item [routerLink]="['/my-account']">
          <mat-icon>person</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

      <button mat-button [routerLink]="['/contacts']">Contacts</button>

      <button mat-icon-button [routerLink]="['/cart']">
        <mat-icon [style.color]="isCartPage() ? 'purple' : 'white'">shopping_cart</mat-icon>
        @if (cartItemCount() > 0) {
        <span class="cart-count">{{ cartItemCount() }}</span>
        }
      </button>

      <button mat-icon-button [routerLink]="['/favorites']">
        <mat-icon [style.color]="isFavoritesPage() ? 'purple' : 'white'">favorite</mat-icon>
        @if (favoritesCount() > 0) {
        <span class="favorites-count">{{ favoritesCount() }}</span>
        }
      </button>
    </div>

    <div class="user-actions">
      @if (isAdmin()) {
        <button mat-button [matMenuTriggerFor]="adminMenu">
          Admin Panel
        </button>
        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item routerLink="/admin/orders">All Orders</button>
        </mat-menu>
      }
    </div>
  </div>
</mat-toolbar>
