// UI\src\app\components\about_us_component\about-us\about-us.component.scss
.about-us-container {
  padding: 20px;
  color: #009d34; // Добавено
  h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  p {
    font-size: 1.2em;
  }
}
