<!-- UI\src\app\components\edit_product_component\edit-product\edit-product.component.html -->
<div class="edit-product-container">
  <div class="icon">
    <fa-icon [icon]="faEdit" style="color: #009d34"></fa-icon>
  </div>
  <h2>Edit Product</h2>

  @if (currentProduct(); as product) {
  <form [formGroup]="editProductForm" (ngSubmit)="submitForm()">
    <div>
      <label>Product Name</label>
      <input formControlName="name" type="text" />
    </div>

    <div>
      <label>Manufacturer (optional)</label>
      <input formControlName="manufacturer" type="text" />
    </div>

    <div>
      <label>Model (optional)</label>
      <input formControlName="model" type="text" />
    </div>

    <div>
      <label>Category</label>
      <select formControlName="category">
        <option value="">Select Category</option>
        @for (category of categories; track category) {
        <option [value]="category">{{ category }}</option>
        }
      </select>
    </div>

    <div>
      <label>Condition</label>
      <select formControlName="condition">
        <option value="">Select Condition</option>
        <option value="new">New</option>
        <option value="like new">Like New</option>
        <option value="used">Used</option>
      </select>
    </div>
    <div>
      <label>Color (optional)</label>
      <input formControlName="color" type="text" />
    </div>

    <div>
      <label>Size (EU) (optional)</label>
      <input formControlName="size" type="number" min="0" step="0.5" (keypress)="(($event.charCode >= 48 && $event.charCode <= 57) || $event.charCode === 46)" />
    </div>

    <div>
      <label>Sex</label>
      <select formControlName="sex">
        <option value="">Select Sex</option>
        <option value="none">None</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <div>
      <label>Price (€)</label>
      <input formControlName="price" type="number" min="0" step="0.01" (keypress)="(($event.charCode >= 48 && $event.charCode <= 57) || $event.charCode === 46)" />
    </div>

    <div>
      <label>Quantity in Stock</label>
      <input formControlName="quantityInStock" type="number" min="0" step="1" />
    </div>

    <div>
      <label>Product Image</label>
      <input type="file" (change)="onFileChange($event)" />
    </div>

    <button type="submit" [disabled]="!isFormValid()">Save Changes</button>
  </form>
  } @else {
  <p>Loading product...</p>
  } @if (errorMessage(); as error) {
  <p class="error-message">{{ error }}</p>
  }
</div>
