<div class="reset-password-container">
  <div class="icon">
    <fa-icon [icon]="faKey"></fa-icon>
  </div>

  <h1>Reset Password</h1>

  <div class="form-container">
    <p class="description">Please enter your new password below.</p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <fa-icon [icon]="faLock"></fa-icon>
        <input type="password" formControlName="newPassword" placeholder="New Password" [class.invalid]="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" />
        <div class="error-message" *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern'] && resetPasswordForm.get('newPassword')?.touched">Password must contain at least 8 characters, including uppercase, lowercase, number and special character</div>
      </div>

      <div class="form-group">
        <fa-icon [icon]="faLock"></fa-icon>
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" [class.invalid]="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched" />
      </div>

      <button type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
    </form>

    <div class="additional-links">
      <a (click)="navigateToLogin()">Back to Login</a>
    </div>
  </div>
</div>
