// UI\src\app\components\details_page_component\details-page\details-page.component.scss
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.details-container img {
  max-width: 300px;
  margin-bottom: 20px;
}

.details-container h2 {
  margin-bottom: 10px;
}

.details-container p {
  margin: 5px 0;
}

.quantity {
  margin: 20px 0;
}

.quantity input {
  width: 60px;
  margin-left: 10px;
}

button {
  padding: 10px 20px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачен фон */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
