<!-- UI\src\app\components\details_page_component\details-page\details-page.component.html -->
@if (product()){
<div class="details-container">
  <div class="image-container">
    <img [src]="product()!.picture" alt="{{ product()!.manufacturer }} {{ product()!.model }}" />
    <button mat-icon-button (click)="onToggleFavorite()" class="favorite-button">
      <mat-icon [style.color]="isFavorite() ? '#ff4081' : '#009d34'"> favorite </mat-icon>
    </button>
  </div>

  <h2>{{ product()!.name }}</h2>

  @if (product()!.size !== undefined) {
  <p>Size: {{ product()!.size }}</p>
  } @if (product()!.color) {
  <p>Color: {{ product()!.color }}</p>
  } @if (product()!.sex) {
  <p>Sex: {{ product()!.sex }}</p>
  }

  <p>Category: {{ product()!.category }}</p>
  <p>Price: ${{ product()!.price }}</p>

  @if (!isOwner()) {
  <div class="quantity">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" [ngModel]="quantity()" (ngModelChange)="quantity.set($event)" min="1" />
  </div>
  <button (click)="onAddToCart()">Add to Cart</button>
  } @if (isOwner()) {
  <div class="button-container">
    <button class="edit-button" (click)="onEditProduct()">Edit</button>
    <button class="delete-button" (click)="onConfirmDelete()">Delete</button>
  </div>
  } @if (showConfirmModal()) {
  <div class="modal">
    <div class="modal-content">
      <p>Are you sure?</p>
      <button (click)="onDeleteProduct()">Delete</button>
      <button (click)="onCancelDelete()">Cancel</button>
    </div>
  </div>
  }
</div>
}
