<!-- UI\src\app\components\details_page_component\details-page\details-page.component.html -->
<div class="details-container" *ngIf="product">
  <div class="image-container">
    <img [src]="product.picture" alt="{{ product.manufacturer }} {{ product.model }}" />
    <button mat-icon-button (click)="toggleFavorite()" class="favorite-button">
      <mat-icon [style.color]="isFavorite ? '#ff4081' : '#009d34'">favorite</mat-icon>
    </button>
    <!-- Use color #666 or #009d34 -->
  </div>
  <h2>{{ product.name }}</h2>

  <p *ngIf="product.size !== undefined">Size: {{ product.size }}</p>
  <p *ngIf="product.color">Color: {{ product.color }}</p>
  <p *ngIf="product.sex">Sex: {{ product.sex }}</p>

  <p>Category: {{ product.category }}</p>
  <p>Price: ${{ product.price }}</p>

  <div class="quantity" *ngIf="!isOwner">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" [(ngModel)]="quantity" min="1" />
  </div>

  <button (click)="addToCart()" *ngIf="!isOwner">Add to Cart</button>

  <div class="button-container" *ngIf="isOwner">
    <button class="edit-button" (click)="editProduct()">Edit</button>
    <button class="delete-button" (click)="confirmDelete()">Delete</button>
  </div>

  <!-- Модален прозорец за потвърждение -->
  <div class="modal" *ngIf="showConfirmModal">
    <div class="modal-content">
      <p>Are you sure?</p>
      <button (click)="deleteProduct()">Delete</button>
      <button (click)="cancelDelete()">Cancel</button>
    </div>
  </div>
</div>
