// UI\src\app\components\contacts_component\contacts\contacts.component.scss
.contacts-container {
  padding: 20px;
  color: #009d34;
  h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  p,
  ul {
    font-size: 1.2em;
  }
}
