// UI/src/app/components/my_products_component/my-products/my-products.component.scss

@import "../../main_page_component/main-page/main-page.component.scss";

.my-products-header {
  max-width: 1200px;
  margin: 70px auto 20px;
  text-align: center;
  color: #009d34;

  .icon {
    margin-bottom: 30px;

    fa-icon {
      font-size: 60px;
      color: #009d34;
    }
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #009d34;
    font-weight: 600;
  }
}
