// UI/src/app/components/my_products_component/my-products/my-products.component.scss

@import "../../main_page_component/main-page/main-page.component.scss";

.my-products-header {
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;

  .icon {
    margin-bottom: 10px;

    fa-icon {
      font-size: 40px;
      color: #009d34;
    }
  }

  h1 {
    font-size: 2em;
    color: #009d34;
    font-weight: 600;
    margin: 0;
  }
}
