// UI\src\app\components\my_account_component\my-account\my-account.component.scss
.my-account {
  color: #009d34;
  margin-top: 70px;

  .icon {
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
  }

  h2 {
    text-align: center;
  }

  form {
    max-width: 400px;
    margin: 0 auto;

    div {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #009d34;
        border-radius: 4px;
      }
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #009d34;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .error-message {
    color: red;
    text-align: center;
  }

  a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
  }
}
