// UI\src\app\components\auth_component\login\login.component.scss
.login-container {
  max-width: 1200px;
  margin: 70px auto 0;
  padding: 20px;
  color: #009d34;
  text-align: center;

  .icon {
    margin-bottom: 30px;
    fa-icon {
      font-size: 60px;
      color: #009d34;
    }
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #009d34;
    font-weight: 600;
  }

  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);

    .form-group {
      position: relative;
      margin-bottom: 20px;
      width: 80%;

      fa-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #009d34;
      }

      input {
        width: 100%;
        padding: 12px 40px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;

        &.invalid {
          border-color: red;
        }
      }
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #009d34;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(#009d34, 10%);
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  .additional-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    a {
      color: #009d34;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: darken(#009d34, 10%);
      }
    }
  }

  .remember-me {
    label {
      margin-left: 0;
      margin-right: 282px;
    }
  }

  .google-btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-login {
    margin: 20px 0;
    text-align: center;

    p {
      margin-bottom: 15px;
      color: #666;
    }

    .g-signin2 {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
  }
}
